/* Rapid CSS Development for search mask */

/************* CAT CHOOSER *****************/

.ms-catchooser {
	background: #fefefe;
}

.ms-catchooser .sub {
	/*width: 150px;*/
	float: left;
	background: #eee;
	padding: 10px;
	margin: 10px;
}

.ms-catchooser ul, .ms-catchooser li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

.ms-catchooser a {
	display: block;
	margin: 5px;
	font-size: 130%;
	text-decoration: none;
}

.ms-catchooser a .pre {
	/* helper for <a> design */
	float: left;
	background: url(images/left-bg.a.png) no-repeat;
	height: 40px;
	width: 10px;
}

.ms-catchooser a .content {
	display: block;

	background: url(images/stretch-bg.a.png) repeat-x;
	background-position: top right;

	height: 40px;
	line-height: 40px;
	margin-right: 10px; /* for helper */
	margin-left: 10px;
}

.ms-catchooser a .post {
	/* helper for <a> design */
	float: right;
	background: url(images/right-bg.a.png) no-repeat;
	height: 40px;
	width: 10px;
}

.ms-catchooser a:link, .ms-catchooser a:visited {
	color: white;
	background-color: green;
	text-decoration: none;
}

.ms-catchooser a:hover {
	background-color: red;
}

.ms-catchooser a:active, .ms-catchooser a.selected {
	background-color: black;
	font-weight: bold;
}

/*
.ms-catchooser a.notyet:link,
.ms-catchooser a.notyet:visited {
	background-color: gray;
}
*/

/************** ASSISTANT DESIGN ************************/
.ms-assistant-text {
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	background-color:white;
	border:10px solid #CCCCCC;
	margin:5px;
	padding:8px;
	position:relative;
	z-index:5;
}

.ms-assistant {
	position: relative;
	float: left;
	width: 23%;
}

.ms-sprechblase {
	left: 180px;
	position: absolute;
	top: -27px;
	z-index: 6;
}


/************** PROXY DATABASE DRIVER *******************/

.ms-page iframe {
	width: 100%;
	height: 500px;
	border: 3px solid black;
}


.ms-left {
	width: 77%;
}

.ms-right {
	float: right;
	width: 20%;
}

.ms-sitenotice-post {
	clear: both;
}















/** Altes CSS zeug (gilt nicht mehr) **/
.ms-formbox {
	background: #fefefe;
}

.ms-formbox .ms-right {
	float: right;
	width: 40%;
}

.ms-inputtext,
.ms-class-selector {
	background:#fcfcfc;
	margin: 5px;
	padding: 5px;
	border:1px solid #ccc;
}

.ms-presearch .ms-assistant-box,
.ms-postsearch .ms-assistant-box div {
	border: 10px solid #cccccc;
	background-color: white;
	padding: 8px;
	margin: 5px;
	-moz-border-radius: 20px;
	position: relative;
	z-index: 5;
}

.mc-bc {
	position: relative;
}

.ms-sprechblase {
	position: absolute;
	z-index: 6;
	top: -27px;
	left: 180px;
}

.ms-formbox .ms-left {
	margin-right: 40%;
}

.ms-inputtext {
	line-height: 34px;
}

.ms-formbox input {
	font-size: 18px;
	line-height: 34px;
}

.ms-formbox input.button {
	font-weight: bold;
}

.ms-formbox select {
	padding: 10px;
	border: 2px solid black;
	max-width: 380px;
	height: 12em;
	font-size: 120%;
	margin-bottom: 10px;
}

.ms-formbox img.arrow {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
}
