<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>[% title %] - MetaSearch 2010</title>
  [% base = "/metasearch2010/" %]
  <link type="text/css" rel="stylesheet" href="[%base%]src/design.css">
  <link type="text/css" rel="stylesheet" href="[%base%]src/server-pages.css">
  <link type="text/css" rel="stylesheet" href="/metasearch2010/src/chrome.css">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="robots" content="noindex">
  <link rel="icon" href="[%base%]src/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="[%base%]src/favicon.ico" type="image/x-icon"> 
</head>

<body>

<div id="header">
  <h1>MetaSearch 2010</h1>
  <div id="main-navigation">
    <a href="/metasearch2010">Startseite</a> |
	<a href="?">Kommentar-&Uuml;bersicht</a> |
	<a href="?edit=new">Neuen Kommentar anlegen</a> |
	<a href="?test">Trigger Test Suite</A>
  </div>
</div>

